* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 65%;
  margin: 0 auto;
}

.video-container {
  margin-top: 20px; /* 在视频上方添加一些空间 */
  margin-bottom: 20px; /* 在视频下方添加一些空间 */
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  font-size: 2em;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  display: flex;
  margin-top: 20px;
}


.content {
  margin-left: 30px; /* Add space between the left side of the content and sidebar */
}

.content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.meta {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 20px;
}

article p {
  margin-bottom: 20px;
}

.right-sidebar {
  width: 30%;
  padding-left: 10px;
  margin-top: 170px; /* Add space above the sidebar */
}

.right-sidebar h3 {
  font-size: 13px; /* Adjust font size of the section titles */
}

.right-sidebar ul li {
  font-size: 10px; /* Adjust font size of list items */
}

.widget {
  margin-bottom: 20px;
}

.widget h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.widget ul {
  list-style: none;
}

.widget ul li {
  margin: 5px 0;
}

.widget ul li a {
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
}


/* Position for the "Return to Home" link */
.return-home {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.return-home:hover {
    background-color: #f4f4f4;
}